.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0vh 5vw;
}

/* tablet */
@media (max-width: 768px) {
  .App {
    margin: 0vh 10vw;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .App {
    margin: 0vh 25vw;
  }
}